.quiz__imagebox{
    padding: 10px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(21, 0, 48);
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.quiz__table{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 90%;
    height: max-content;
}
.quiz__left, .quiz__right{
    color: black;
}

.active-left{
    transform: translateX(20px);
}
.matched-left{
    transform: translateX(20px);
}
.active-right{
    transform: translateX(-20px);
}
.matched-right{
    transform: translateX(-20px);
}